.duo-chat {
  @include gl-z-index-999;

  .message-enter-active,
  .message-leave-active {
    transition: all 0.5s ease;
  }

  .message-enter,
  .message-leave-to {
    @include gl-opacity-0;
    transform: translateY(10px);
  }

  .loader-enter-active,
  .loader-leave-active {
    transition: opacity 0.5s ease;
  }

  .loader-enter,
  .loader-leave-to {
    @include gl-opacity-0;
  }

  .loader-leave-active {
    @include gl-absolute;
  }

  .gl-drawer-body-scrim-on-footer {
    &::before {
      background: linear-gradient(to bottom, rgba($gray-10, 0), $gray-10);
    }
  }
}

.duo-chat-input {
  @include gl-display-flex;
  @include gl-flex-direction-column;

  &:focus-within {
    @include gl-focus($color: $gray-900);
  }

  .gl-form-textarea.form-control {
    flex: 1;
    resize: none;
    max-height: 240px;
    width: calc(100% - 40px);
  }

  &::after {
    content: attr(data-value) ' ';
    @include gl-visibility-hidden;
    @include gl-white-space-pre-wrap;
    @include gl-py-4;
  }
}

.slash-commands {
  @include gl-mt-n2;

  .active-command{
    @include gl-bg-gray-50;
    @include gl-rounded-base;
  }

  .gl-dropdown-item button.dropdown-item {
    @include gl-font-sm;
    @include gl-px-3;
    @include gl-bg-none;

    &:hover {
      @include gl-bg-none;
    }
  }
}
