$gl-loader-dots-size-sm: 0.375rem;
$gl-loader-dots-size-md: 0.5rem;
$gl-loader-dots-size-lg: 0.75rem;
$gl-loader-dots-size-xl: 1rem;

@mixin gl-tmp-spinner-color($color) {
  border-color: rgba($color, 0.25);
  border-top-color: $color;
}

@mixin gl-tmp-spinner-size($size, $border-width) {
  width: $size;
  height: $size;
  border-width: $border-width;
  transform-origin: 50% 50% calc((#{$size} / 2) + #{$border-width});
}

@mixin gl-tmp-dots-color($color) {
  &::before,
  > span,
  &::after {
    background-color: $color;
  }
}

@mixin gl-tmp-dots-size($size) {
  &::before,
  > span,
  &::after {
    width: $size;
    height: $size;
    margin-right: calc(#{$size} / 2);
  }
}

.gl-spinner-container {
  @include gl-line-height-0;
  @include gl-text-center;
}

.gl-spinner {
  @include gl-relative;
  @include gl-display-inline-flex;
  @include gl-rounded-full;
  @include gl-border-solid;
  @include gl-mx-auto;
  @include gl-my-0;
  @include gl-font-base;

  animation-name: gl-spinner-rotate;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  // default size
  @include gl-tmp-spinner-size($gl-spacing-scale-5, $gl-border-size-2);
  // default colour
  @include gl-tmp-spinner-color($gray-700);

  &.gl-spinner-md {
    @include gl-tmp-spinner-size($gl-spacing-scale-6, $gl-border-size-3);
  }

  &.gl-spinner-lg {
    @include gl-tmp-spinner-size($gl-spacing-scale-7, $gl-border-size-3);
  }

  &.gl-spinner-xl {
    @include gl-tmp-spinner-size($gl-spacing-scale-11, $gl-border-size-4);
  }

  &.gl-spinner-dark {
    @include gl-tmp-spinner-color($gray-700);
  }

  &.gl-spinner-light {
    @include gl-tmp-spinner-color($white);
  }
}

.gl-dots-loader {
  @include gl-line-height-0;
  @include gl-text-center;
}

.gl-dots-loader {
  &::before,
  > span,
  &::after {
    content: '';

    display: inline-block;
    border-radius: 100%;
    animation: gl-dots-loader-animation 1400ms ease-in-out infinite;
    animation-fill-mode: both;
  }

  &::before {
    animation-delay: -0.3s;
  }

  > span {
    animation-delay: -0.15s;
  }

  &::after {
    margin-right: 0 !important;
  }

  // default size
  @include gl-tmp-dots-size($gl-loader-dots-size-sm);
  // default colour
  @include gl-tmp-dots-color($gray-200);

  &.gl-dots-loader-dark {
    @include gl-tmp-dots-color($gray-200);
  }

  &.gl-dots-loader-light {
    @include gl-tmp-dots-color($gray-500);
  }

  &.gl-dots-loader-md {
    @include gl-tmp-dots-size($gl-loader-dots-size-md);
  }

  &.gl-dots-loader-lg {
    @include gl-tmp-dots-size($gl-loader-dots-size-lg);
  }

  &.gl-dots-loader-xl {
    @include gl-tmp-dots-size($gl-loader-dots-size-xl);
  }
}

@keyframes gl-dots-loader-animation {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
