.duo-chat-message {
  max-width: 90%;

  code {
    @include gl-bg-gray-100;
  }

  pre code {
    @include gl-font-sm;
    @include gl-line-height-1;
    @include gl-bg-transparent;
    white-space: inherit;
  }

  p:last-of-type {
    @include gl-mb-0;
  }

  copy-code {
    @include gl-absolute;
    @include gl-transition-medium;
    @include gl-opacity-0;
    @include gl-right-4;
    @include gl-top-3;
  }

  .js-markdown-code.markdown-code-block:hover {
    copy-code,
    copy-code:focus-within {
      @include gl-opacity-10;
    }
  }
}